{{#modules}}
lazy val {{name}} = project
  .in(file("{{name}}"))
  .settings(
    scalaVersion := "{{scalaVersion}}",
    scalacOptions := Seq({{#scalaOptions}}"{{.}}"{{^-last}}, {{/-last}}{{/scalaOptions}}),
    {{#javaDependencies}}
    libraryDependencies += "{{org}}" % "{{name}}" % "{{version}}",
    {{/javaDependencies}}
    {{#scalaDependencies}}
    libraryDependencies += "{{org}}" %% "{{name}}" % "{{version}}",
    {{/scalaDependencies}}
    {{#TestModules}}
    libraryDependencies ++= Seq(
      {{#dependencies}}
      "{{org}}" %% "{{name}}" % "{{version}}",
      {{/dependencies}}
    ),
    testFrameworks += new TestFramework({{#testFramework}}"{{.}}"{{^-last}}, {{/-last}}{{/testFramework}}),
    {{/TestModules}}
  )
{{/modules}}
